body {
	background-color: #BFD9E0;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 20px;
	-webkit-text-size-adjust: none;
	}

.hidden {
display:none;
}
	
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


a.highlight { background-color: #6c8CD5;
}
div#wrapper {
width: 90%;
/*background-color:#FFFFFF;*/
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: thin solid #000000;
}
div#header {
padding: 15px;
margin: 0px;
text-align: center;
}
div#leftnav {
position: absolute;
width: 280px;
padding-top: 20px;
padding-left: 15px;
margin-top: 1px;
float: left;
}
div#main {
margin-left: 340px;
margin-top: 1px;
padding: 10px;
height:  850px;
}
div#timeNavBlock{
	height: 60px;
}

div#usageTableBlock{
	height: 300px;
	margin-bottom: 10px;
	padding: 10px;
	border: thin solid #000000;
}
div#usageSearchFormBlock{
	margin-top: 10px;
	padding: 10px;
	border: thin solid #000000;
	height: 475px;
}
div#footer {
padding: 15px;
margin: 0px;
/*border-top: thin solid #000000;*/
}

div.errormsg {
	//border: 1px solid #e9c59b;
	//background: #ffecce url(../images/error.gif) 12px 12px no-repeat;
	color: #e3302c;
}

div#usagetable{
	height: 200px;
}


.usagetbldisp table, .usagetbldisp th, .usagetbldisp td
{
border: 1px solid black;
}
.usagetbldisp th
{
	background-color: #6c8CD5;
	color: black;
}
.usagetbldisp td
{
text-align:right;
}

.userlisttbl table,
{
	outline: 1px solid black;
	background-color: #6c8CD5;
	color: black;
}
.userlisttbl td
{
	text-align:left;
}


div#logonBlock{
	position:relative;
	top: 30%;
	left: 30%;
}
h2#logonHeading{
	position:relative;
	top: 10%;
	left: 30%;
}
