/* Reset Styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td {
	padding: 8px;
}	

/** No floating elements allowed on either the left or the right side of the DIV. Can be used as a separator in a float-based layout. */
div.clear-div {
	clear: both;
}

body {
	/*background-color: #BFD9E0;*/
	/** background: #333; */
	/*background: #fff;*/
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 13px;
	/*color: #666;*/
	/** color: #333; */
	line-height: 20px;
	-webkit-text-size-adjust: none;
	text-align: center;
}

.hidden {
display:none;
}
	
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

A:link {
	text-decoration: none;
}
A:visited {
	text-decoration: none;
	color: blue;
}
A:active {
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
A.highlight {
	background-color: #6c8CD5;
}

a.button-enabled {
	color: white;
}

a.button-disabled {
	color: #ccc;
}



div#content-area {
/** width: 100%; */
width: 960px;
margin: 0px auto;
/*background-color:#FFFFFF;*/
background: #fff;
/*
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: thin solid #000000;
*/
}
div#header-wrap {
	/** background: none repeat scroll 0% 0% rgb(30, 51, 102); */
	background: none repeat scroll 0% 0% rgb(190, 190, 200);
	border-bottom: 1px solid #999;
}

div#header-area {
	width: 1000px;
	margin: 0px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	min-height: 50px;
	/** background: none repeat scroll 0% 0% rgb(30, 51, 102); */
}

div#leftnav {
	position: absolute;
	width: 280px;
	padding-top: 20px;
	padding-left: 15px;
	margin-top: 1px;
	float: left;
}

div#main-area {
	margin: 10px;
	padding: 10px;
	min-height: 500px;
	text-align: left;
}

div#timeNavBlock{
	height: 60px;
}

div#usageTableBlock{
	height: 300px;
	margin-bottom: 10px;
	padding: 10px;
	border: thin solid #000000;
}
div#usageSearchFormBlock{
	margin-top: 10px;
	padding: 10px;
	border: thin solid #000000;
	height: 475px;
}

div#footer-area {
	padding: 15px;
	margin: 0px;
	/*border-top: thin solid #000000;*/
}

div.errormsg {
	//border: 1px solid #e9c59b;
	//background: #ffecce url(../images/error.gif) 12px 12px no-repeat;
	color: #e3302c;
}


div#logonBlock{
	position:relative;
	top: 30%;
	left: 30%;
}
h2#logonHeading{
	position:relative;
	top: 10%;
	left: 30%;
}

div#userInfo {background: #CFDEFF;
			  text-align: right;
			  height: 30px;
			  padding-right: 10px;
			  padding-top: 6px;
 }

 /* Non header links in table ie Edit and delete links */
 table.userlisttbl  a:visited, table.userlisttbl  a:link {
  	color: #0000FF;
  	text-decoration:none;
 }
 /* Header Links*/
 table.userlisttbl th a:visited, table.userlisttbl th a:link {
  	color: #0000FF;
  	text-decoration:underline;
 }
 
/* Paging links */
 .pagelinks a:visited, .pagelinks a:link {
  	color: #0000FF;
  	text-decoration:none;
 }
 
 /* Odd rows in table*/
 table.userlisttbl tr.odd {
 		background-color: #CFDEFF;
 }
 
 table.forminputtbl td {
 	height: 60px;
 }
 
 table.forminnerinputtbl td {
 	height: 80px;
 	width: 100px;
 	vertical-align: middle;
 }
 
table.forminnerinputtbl label {
	color: #555;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 3px;
}
 
 table.formuserinnertbl {
 	width: 1000px;
 }
 
 .innerFormButton {
 	width: 80px;
 	position: relative;
 	/*left: 10px;*/
 }
 
 .error-msg-box {
	background-color:#CCC;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#e5e5e5));
	background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
	background: -ms-linear-gradient(top, #f5f5f5, #e5e5e5);
	padding:10px 15px 12px;
	border:2px solid #f00;
	margin:10px 0;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color:#f00;
	font-size:1.0em;
	font-weight:bold;
}

.info-msg-box {
	background-color:#CCC;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#e5e5e5));
	background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
	background: -ms-linear-gradient(top, #f5f5f5, #e5e5e5);
	padding:10px;
	border:2px solid #888888;
	margin:10px 0;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color:#333333;
	font-size:1.0em;
}

#login-panel {
	#border: 2px solid #DDDDDD;
	width: 500px;
	margin: 16px auto;
	padding: 16px;
	position: relative;
	left: 40px;
}

#login-panel .greeting {
	font-size: 21px;
	font-weight: bold;
	#border-bottom: 1px solid #DDDDDD;
	width: 470px;
	padding: 8px 0;
}

#login-panel .label {
	float: left;
	font-size: 18px;
	width: 120px;
	text-align: right;
}

#login-panel .input {
	float: left;
	padding-left: 16px;
}

#artifacts-list {
	border: 1px solid #DDDDDD;
	min-height: 100px;
}

#artifacts-list table.artifacts-table {
	width: 100%;
}

#artifacts-list table.artifacts-table tr {
	border-bottom: 1px solid #DDDDDD;
}

#artifacts-list table.artifacts-table td {
	padding: 8px;
	vertical-align: middle;
}

#artifacts-list table.artifacts-table td.icon-column {
	width: 38px;
}

#artifacts-list table.artifacts-table td.name-column {
	width: 250px;
}

#artifacts-list table.artifacts-table td.status-column {
	width: 100px;
}

#artifacts-list table.artifacts-table td.buttons-column {
	float: right;
}

div#hosts-list {
	border: 1px solid #DDDDDD;
	min-height: 100px;
}

div#hosts-list table.hosts-list-table {
	width: 100%;
}

div#hosts-list table.hosts-list-table tr {
	border-bottom: 1px solid #DDDDDD;
}

div#hosts-list table.hosts-list-table td {
	padding: 8px;
	vertical-align: middle;
}

div#host-form {
}

div#host-form .input-box {
	float: left;
}

div#host-form .section {
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid #3bb;
	color: #3bb;
	font-size: 1.2em;
	text-align: right;
}

div#host-form .input-box .label {
	color: #555;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 3px;
}

div#host-form .input-box .input select {
	height: 25px;
}

div#hosts-contents .section {
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid #3bb;
	color: #3bb;
	font-size: 1.2em;
	text-align: right;
}

div#cr-top-navigation-area {
	margin-bottom: 20px;
}

div#cr-top-navigation-area .separator {
	font-family: 'Courier New';
	font-size: 17px;
	font-weight: bold;
	color: #888;
}

div#cr-side-menu-area {
	padding-right: 15px;
	float: left;
}

div#cr-side-menu-area div.group {
	background: rgb(63, 107, 142);
	-moz-border-radius: 7px;
	border-radius:7px;
	line-height: 1.5em;
	width: 170px;
}

div#cr-side-menu-area div.group div.group-heading {
	color: white;
	font-size: 13px;
	font-weight: bold;;
	font-variant: small-caps;
	padding: 7px;
}

div#cr-side-menu-area div.group div.group-body {
	background: #999;
	-moz-border-radius: 7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	padding: 7px;
}

div#cr-side-menu-area div.group div.group-body a {
	color: white;
	line-height: 2em;
}

table.cr-update-history-table {
	width: 100%;
}

table.cr-update-history-table tr {
	border: 1px solid #DDDDDD;
}

table.cr-update-history-table td {
	padding: 11px;
	vertical-align: middle;
}

.common-header-1 {
	font-family: 'Lucida Sans',Helvetica,sans-serif,Arial;
	font-size: 18px;
	line-height: 1.5em;
	color: #666;
}

span.tag-default {
	background: #888;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lucida Sans',Helvetica,sans-serif,Arial;
	font-size: 11px;
}

span.tag-small {
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
}

span.tag-medium {
	padding: 6px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 16px;
}

span.tag-large {
	padding: 8px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 20px;
}

span.tag {
	padding: 4px;
	background: #888;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lucida Sans',Helvetica,sans-serif,Arial;
	font-size: 11px;
}

span.tag-cr-locked {
	background: yellow;
	color: red;
	border: 1px solid gray;
}

span.crud-label {
	padding: 4px;
	background: #888;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lucida Sans',Helvetica,sans-serif,Arial;
	font-size: 11px;
}

span.crud-updated {
	font-size: 10px;
}

span.crud-new {
	color: yellow;
}

span.crud-deleted {
	font-size: 10px;
	color: #c00;
	background: #dddddd;
}

span.crud-generated {
	color: yellow;
}
 
div#card-form {
}

div#card-form .row {
	clear: both;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
	min-height: 30px;
}

div#card-form .row .col-label {
	float: left;
	width: 150px;
	font-weight: bold;
	font-size: 1.1em;
}

div#card-form .row .col-old {
	float: left;
	width: 150px;
}

div#card-form .row .col-new {
	float: left;
	width: 200px;
}

div#host-duplication-form {
	
}

div#host-duplication-form .input-box .label {
	color: #555;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 3px;
}

div#host-duplication-form .input-box .input select {
	height: 25px;
}

table.table-style-1 {
	
}

table.table-style-1 tr {
	height: 36px;
	border: 1px solid #bbb;
}

table.table-style-1 tr:nth-child(even) {
	background: #eee;
}

table.table-style-1 tr:nth-child(odd) {
	background: white;
}

table.table-style-1 td {
}

div#build-artifact-div {
	min-height: 300px
}

div#build-artifact-div .heading {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 23px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

div#build-history {
}

div#build-history .heading {
	font-size: 23px;
	padding-bottom: 10px;
	font-family: "Lucida Grande", Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

div#build-history .row {
}

div#build-history .row .separator {
	border-bottom: 1px solid #ccc;
	clear: both;
	padding-bottom: 15px;
}

div#build-history .status-col {
	width: 36px;
	float: left;
}

div#build-history .row .id-col {
	padding-top: 10px;
	width: 50px;
	float: left;
}

div#build-history .row  .description-col {
	padding-top: 10px;
	padding-bottom: 5px;
	width: 650px;
	float: left;
}

div#build-history .row  .datetime-col {
	padding-top: 10px;
	padding-bottom: 5px;
	width: 300px;
	float: right;
	text-align: right;
}

div.cr-details-block {
	float: left;
	padding-right: 39px;
}

div.cr-details-block .label {
	text-decoration: underline;
}
	
div.cr-details-block .value {
	padding-top: 15px;
	font-size: 18px;
}

div.merge-conflicts-list {
}

div.merge-conflicts-list .cr {
	float: left;
	width: 50px;
}
div.merge-conflicts-list .field {
	float: left;
	width: 90px;
}
div.merge-conflicts-list .xpath {
	float: left;
	width: 380px;
}
div.merge-conflicts-list .their-change {
	float: left;
	width: 180px;
	padding: 5px 10px 10px 10px;
}
div.merge-conflicts-list .my-change {
	float: left;
	width: 180px;
	padding: 5px 10px 10px 10px;
}
div.merge-conflicts-list .conflict-resolution {
	float: left;
	width: 250px;
	padding: 5px 10px 10px 10px;
}

/***************************************SPARES  *******************************************************************/

div#twinview-contents {
	position: relative
}
div#twinview-contents .section {
	margin-bottom: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #3bb;
	color: #3bb;
	font-size: 1.2em;
	text-align: left;
}

div#twinview-col1 {
	border: 1px solid #DDDDDD;
	/* min-height: 100px; */
	width: 450px;
	padding-top: 10px;
	padding-left: 15px;
	margin-top: 1px;
	
	height: 480px;
	position: absolute;
	left: 0px;
	top: 0px;
	
	/*float: left;*/
}
div#replacehosts-list {
	position: absolute;
	height : 440px;
	overflow: auto;
}
div#twinview-col2 {
	border: 1px solid #DDDDDD;
	/* min-height: 100px; */
	
	width: 400px;
	padding-top: 10px;
	padding-left: 15px;
	margin-left: 20px;
	margin-top: 1px;
	
	height: 480px;
	position: absolute;
	top: 0px;
	right: 0px;
		
	/*float: left;*/
}
div#sparehosts-list {
	position: absolute;
	height : 440px;
	overflow: auto;
}

div#host-device-state-panel {
	position: absolute;
	height : 440px;
	overflow: auto;
}

table.nodes-list-table {
	width: 100%;
}

 table.nodes-list-table tr {
	border-bottom: 1px solid #DDDDDD;
}

table.nodes-list-table td {
	padding: 8px;
	vertical-align: middle;
}

table.nodes-list-table A:link {
	text-decoration: none;
	color: blue;
}
table.nodes-list-table A:visited {
	text-decoration: none;
	color: blue;
}
table.nodes-list-table A:active {
	text-decoration: none;
	color: blue;
}
table.nodes-list-table A:hover {
	text-decoration: underline;
	color: blue;
}

table.nodes-list-table A.highlight {
	background-color: #6c8CD5;
	color: blue;
}

table.nodes-list-table tr.overline {
	border-bottom: none;
	border-top: 1px solid #DDDDDD; 
}

div#service-activation-div .input-box .label {
	color: #555;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 3px;
}

div#service-activation-div .input-box .input {
}

div#vpn-form .input-row {
	float: left;
	margin-bottom: 25px;
	clear: both;
}

div#vpn-form .input-box .label {
	color: #555;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 3px;
}

div#vpn-form .input-box .input {
}

div.vpn-rename-warning {
	font-size: 14px;
	border: 3px solid red;
	padding: 12px;
}

div#vpnprofile-details {
	float: left;
}

div#vpnprofile-details table.ports-listing {
	 border: 1px solid #ddd;
}

div#vpnprofile-details table.ports-listing tr:nth-child(even) {
	 background: #ddd;
}

table.vpns-list-table tr:nth-child(even) {
	 background: #ddd;
}

div#vpnprofiles-list table.list-table tr:nth-child(even) {
	 background: #ddd;
}

div#deployment-cr-details {
	float: left;
	clear: right;
	width: 600px;
}

div#deployment-cr-details a.button {
	margin-top: 6px;
}

div#deployment-cr-details div.details-box {
	border: 1px solid #ccc;
	padding: 6px;
	margin-bottom: 15px;
	float: left;
	clear: right;
}

div#deployment-cr-details div.details-box .heading {
	line-height: 2em;
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}

div#deployment-cr-details div.details-box .field {
	float: left;	
	padding-right: 25px;
	line-height: 2em;
}

div#deployment-cr-details div.details-box .label {
	color: #333;
}

div#deployment-cr-details div.details-box .value {
	padding-left: 8px;
	color: blue;
}

div#deployment-cr-details div.details-box .Abandoned {
	color: red;
}

div#deployment-cr-details div.details-box .Failed {
	color: red;
}

img.centrebanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
  			    
}
